@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Montserrat';
  color: black;
  background-image: url("../images/Flat-Mountains.svg");
  background: #cfffe5;
  background-size: cover;
}

.sidebar {
  background: #154273;
  margin: 0;
  padding: 1.5em;
}

header {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-weight: bold;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav a {
  padding: 0 .6em;
}

footer.mobile-footer {
  background-color: #222;
  color: powderblue;
  margin: 0em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer.mobile-footer p {
  margin: 0;
}

footer.mobile-footer .social {
  color: powderblue;
  font-size: 2em;
}

footer.mobile-footer .social:hover {
  color: turquoise;
}

footer.sidebar-footer {
  display: none;
}

img {
  display: none;
  border-radius: 50%;
  width: 120px;
}

a {
  color: #FFF6BB;
  text-decoration: none;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

a:hover {
  color: orangered;
}

a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.title {
  background: url("../images/thanos.jpg");
  background-size: 100% 100%;
  color: white;
  padding: 1.4em;
  text-align: center;
}

h1 {
  opacity: 100%;
  font-size: 2em;
}

.mint-content-wrapper {
  text-align: left;
}

.wrapper {
  padding: 2em;
}

h6 {
  margin: 0;
  padding-top: 0;
}

h2 {
  margin: 0;
  padding-top: 0;
}

.rights {
  font-size: 0.7em;
}

@media (min-width: 600px) {
  .title {
    height: 300px;
  }
  .python {
    font-size: 6em;
    color: navy;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .avatar {
    padding: 2em;
  }
  img {
    display: block;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  footer.mobile-footer {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    padding-top: 10em;
    padding-bottom: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav a {
    padding: 2em .6em;
  }
  footer.sidebar-footer {
    display: block;
    background-color: #222;
    color: powderblue;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 200px;
    text-align: center;
    z-index: 999;
  }
  footer.sidebar-footer .social {
    color: powderblue;
    font-size: 2em;
  }
  footer.sidebar-footer .social:hover {
    color: turquoise;
  }
  .mint-content-wrapper {
    margin-left: 200px;
    padding: 1em;
  }
  .title {
    padding-left: 100px;
    height: 500px;
  }
  h1 {
    padding-top: 3em;
  }
  .wrapper {
    margin: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1600px) {
  .mint-content-wrapper {
    padding: 0 10em;
  }
}

@media (min-width: 2600px) {
  body {
    font-size: 22px;
  }
  .title {
    height: 800px;
  }
}
/*# sourceMappingURL=main.css.map */